<a href="https://colab.research.google.com/github/mmahadevisingh/kidoranjan/blob/master/Copy_of_Copy_of_Copy_of_Firebase_ML_on_device_recommentations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# On-device recommendations with Firebase ML and TensorFlow Lite

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/FirebaseExtended/codelab-contentrecommendation-android/blob/master/Firebase_ML_on_device_recommentations.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/FirebaseExtended/codelab-contentrecommendation-android/blob/master/Firebase_ML_on_device_recommentations.ipynb"><img src="https://www.tensorflow.org/images/GitHub-Mark-32px.png" />View source on GitHub</a>
  </td>
</table>

## Overview

This is the notebook for step 11 of the codelab [**Add recommendations to your app with TensorFlow Lite and Firebase**](https://codelabs.developers.google.com/codelabs/contentrecommendation-android). Before running the code in this notebook, complete steps 1-10 of the codelab to get your app and console projects set up.

This code base provides a toolkit to train an on-device recommendation
tensorflow model with user data collected in your app with Firebase Analytics. This model will then be deployed with Firebase ML to serve movie recommendations in the sample app FireFlix. 

This Notebook shows an end-to-end example that 1) imports Firebase Analytics data from BigQuery 2) preprocesses that data to prepare it for training 3) trains a recommendations model using the data and 4) exports the model in tflite format, ready to use in apps to run inference and serve recommendations.

Since the app we use in the codelab is just a sample app, it doesn't have the usage necessary to generate a significant amount of analytics events. Since training accurate models requires a large amount of data, for the purposes of this codelab and notebook, we will be simulating a larger analytics event store by using the public [movielens](https://grouplens.org/datasets/movielens/) dataset, but you could
adapt the data processing script for your dataset and train your own
recommendation model.

## Prerequisites

Run the cell below to clone the tensorflow recommendations model sample from Github. This is the model we will use, with our analytics training data, to create the recommendations model.

The model uses a Convolutional neural-network encoder (CNN): applying multiple layers of convolutional neural-network to generate an encoding of the user history analytics data. For more details, refer to the [documentation]() for the underlying tensorflow model.

In [ ]:
!git clone https://github.com/tensorflow/examples
%cd /content/examples/lite/examples/recommendation/ml/
!pip install -r requirements.txt
!pip install db-dtypes
!pip install --upgrade google-cloud-storage google-cloud-bigquery[bqstorage]

Cloning into 'examples'...
remote: Enumerating objects: 21645, done.
remote: Counting objects: 100% (306/306), done.
remote: Compressing objects: 100% (217/217), done.
remote: Total 21645 (delta 111), reused 202 (delta 64), pack-reused 21339
Receiving objects: 100% (21645/21645), 36.12 MiB | 14.46 MiB/s, done.
Resolving deltas: 100% (11867/11867), done.
/content/examples/lite/examples/recommendation/ml
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 1)) (1.3.5)
Requirement already satisfied: tensorflow>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 2)) (2.8.2+zzzcolab20220527125636)
Requirement already satisfied: absl-py>=0.1.6 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->-r requirements.txt (line 1)) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->-r requirements.txt (line 1)) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (0.26.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.1.0)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (2.8.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.1.2)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.6.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.46.3)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (14.0.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (57.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (4.1.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (3.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (0.2.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (3.19.4)
Requirement already satisfied: tensorflow-estimator<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (2.8.0)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (2.8.0)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (2.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (0.5.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.2.0->-r requirements.txt (line 2)) (3.3.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow>=2.2.0->-r requirements.txt (line 2)) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.5.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (3.3.7)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (3.8.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow>=2.2.0->-r requirements.txt (line 2)) (3.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: db-dtypes in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.7/dist-packages (from db-dtypes) (21.3)
Requirement already satisfied: pyarrow<9.0dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from db-dtypes) (6.0.1)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from db-dtypes) (1.21.6)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from db-dtypes) (1.3.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=17.0->db-dtypes) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0dev,>=0.24.2->db-dtypes) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (2.4.0)
Requirement already satisfied: google-cloud-bigquery[bqstorage] in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage) (1.31.6)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage) (1.35.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage) (2.3.1)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage) (2.23.0)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage) (2.3.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (21.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (2022.1)
Requirement already satisfied: protobuf<4.0.0dev,>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (3.19.4)
Requirement already satisfied: six>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (1.15.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (1.56.2)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (57.4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (4.8)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.7/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage) (1.3.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-cloud-storage) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.0.4)
Requirement already satisfied: grpcio<2.0dev,>=1.38.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery[bqstorage]) (1.46.3)
Requirement already satisfied: pyarrow<9.0dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery[bqstorage]) (6.0.1)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery[bqstorage]) (1.20.6)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery[bqstorage]) (2.8.2)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery[bqstorage]) (2.13.2)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow<9.0dev,>=3.0.0->google-cloud-bigquery[bqstorage]) (1.21.6)

## Set up authentication

In this notebook, we use analytics data from BigQuery to generate training data for our recommendations model. To access BigQuery data from the Colab notebook, you need to upload the service account file that you downloaded in step 10 of the codelab.

Note: If this step is throwing an error, you can either:
1. Manually upload the json file to the /content folder using the Folder icon in the left menu. Then set the GOOGLE_APPLICATION_CREDENTIALS environment variable to the file path.
i.e. If file was uploaded to /content, run:
`os.environ["GOOGLE_APPLICATION_CREDENTIALS"]='/content/<your_service_acct_file_name>`
OR,
2. Try disabling third party cookies in your browser, as [suggested here](https://stackoverflow.com/a/61494336).

In [ ]:
import os
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  with open('/content/' + fn, 'wb') as f:
    f.write(uploaded[fn])
  os.environ["GOOGLE_APPLICATION_CREDENTIALS"]='/content/' + fn
  projectID = fn.rsplit("-", 1)[0]

Saving kidoranjan-f3178-b67e21472114.json to kidoranjan-f3178-b67e21472114 (1).json
User uploaded file "kidoranjan-f3178-b67e21472114.json" with length 2321 bytes

# Import app analytics data from BigQuery

In this step, we will load the analytics data we collected in the app with Firebase Analytics and sent to BigQuery. We will load the data into the pandas data processing library and then preprocess this data to be the appropriate format for input for the model training step.

## Enable BigQuery IPython magics

BigQuery provides several convenience IPython magics that we will use to fetch data with the %load_ext magic below.

In [ ]:
%reload_ext google.cloud.bigquery

## Import data

We use the following SQL statement to get items from the table we created in BigQuery. Firebase Analytics exports a lot of additional information, such as device type, platform version, etc, that we don't need for the purposes of training this model. Initially, we only get a limited amount of rows to briefly explore the form of this data and select which fields are important.

Notice that a row in the dataframe is created for each analytics event logged in the app. This row has many properties, but the ones that are of importance for this notebook are the fields:
* event_name
* event_timestamp
* items
* user_pseudo_id

Notice that some fields, such as the **items** field is actually an object. We will extract the subfield of interest below.

In [ ]:
%%bigquery analytics_test_import
SELECT
    *
FROM `analytics_317045996.events_intraday_20220626`
LIMIT 10

Query complete after 0.01s: 100%|██████████| 2/2 [00:00<00:00, 328.58query/s]
Downloading: 100%|██████████| 10/10 [00:01<00:00,  6.26rows/s]

In [ ]:
analytics_test_import

,event_date,event_timestamp,event_name,event_params,event_previous_timestamp,event_value_in_usd,event_bundle_sequence_id,event_server_timestamp_offset,user_id,user_pseudo_id,...,user_ltv,device,geo,app_info,traffic_source,stream_id,platform,event_dimensions,ecommerce,items
0,20220626,1656216240992701,session_start,"[{'key': 'ga_session_number', 'value': {'strin...",1656182628535000,NaN,84,5322701,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]
1,20220626,1656216241810702,screen_view,"[{'key': 'firebase_screen_class', 'value': {'s...",1656182629099001,NaN,84,5322701,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]
2,20220626,1656216548140206,user_engagement,"[{'key': 'ga_session_id', 'value': {'string_va...",1654710784446000,NaN,85,3892206,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]
3,20220626,1656217664311211,screen_view,"[{'key': 'ga_session_id', 'value': {'string_va...",1656216236488005,NaN,85,3892206,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]
4,20220626,1656219233111215,screen_view,"[{'key': 'firebase_screen_id', 'value': {'stri...",1656217660419009,NaN,85,3892206,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]
5,20220626,1656226944423452,user_engagement,"[{'key': 'firebase_screen_class', 'value': {'s...",1656216544248001,NaN,89,21196453,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]
6,20220626,1656226084752451,session_start,"[{'key': 'engaged_session_event', 'value': {'s...",1656216235670000,NaN,88,21196452,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]
7,20220626,1656226085162452,screen_view,"[{'key': 'firebase_screen_id', 'value': {'stri...",1656219229219001,NaN,88,21196452,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]
8,20220626,1656229114971614,session_start,"[{'key': 'firebase_event_origin', 'value': {'s...",1656226063556000,NaN,90,3016614,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]
9,20220626,1656229125105615,user_engagement,"[{'key': 'firebase_screen_class', 'value': {'s...",1656226923227001,NaN,90,3016614,None,97d43bb2c3af16aef2ca1c459a335b12,...,None,"{'category': 'mobile', 'mobile_brand_name': No...","{'continent': 'Asia', 'country': 'India', 'reg...",{'id': 'com.google.firebase.codelabs.recommend...,"{'name': '(direct)', 'medium': '(none)', 'sour...",3595545520,ANDROID,None,None,[]

All of the columns included in each analytics event entry.

In [ ]:
analytics_test_import.columns

Index(['event_date', 'event_timestamp', 'event_name', 'event_params',
       'event_previous_timestamp', 'event_value_in_usd',
       'event_bundle_sequence_id', 'event_server_timestamp_offset', 'user_id',
       'user_pseudo_id', 'privacy_info', 'user_properties',
       'user_first_touch_timestamp', 'user_ltv', 'device', 'geo', 'app_info',
       'traffic_source', 'stream_id', 'platform', 'event_dimensions',
       'ecommerce', 'items'],
      dtype='object')

Of the information logged under 'items', we are only interested in 'item_id',which corresponds to the ID of the movie the user interacted with.

In [ ]:
analytics_test_import['items'][0][0]

IndexError: ignored

Now we run the following command to import the whole dataset into a variable. Note how we only import the fields which we are interested in for training purposes.

In [ ]:
%%bigquery analytics_data_real
SELECT
    items,user_pseudo_id,event_timestamp
FROM `analytics_317045996.events_intraday_20220626`

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 138.08query/s]
Downloading: 100%|██████████| 155/155 [00:01<00:00, 105.36rows/s]

In [ ]:
analytics_data_real.head()

,items,user_pseudo_id,event_timestamp
0,"[{'item_id': '32', 'item_name': '(not set)', '...",deb5945fa29be45801049d34f1a52570,1656232199651952
1,"[{'item_id': '41', 'item_name': '(not set)', '...",deb5945fa29be45801049d34f1a52570,1656232201866953
2,[],deb5945fa29be45801049d34f1a52570,1656232206341954
3,[],97d43bb2c3af16aef2ca1c459a335b12,1656238690463898
4,[],97d43bb2c3af16aef2ca1c459a335b12,1656238690739899

# Preprocess the dataset

In this step, we create a lambda function to extract a subfield 'item_id' from the items object. This represents the movie_id, so we also rename the columns to match.

In [ ]:
analytics = analytics_data_real.loc[analytics_data_real['items']!='[]'].copy()
def getMovieID(row):
  items_obj = row['items'][0]
  return items_obj['item_id']
analytics['movie_id'] = analytics.apply(lambda row: getMovieID(row), axis=1)
analytics

,items,user_pseudo_id,event_timestamp,movie_id
0,"[{'item_id': '32', 'item_name': '(not set)', '...",deb5945fa29be45801049d34f1a52570,1656232199651952,32
1,"[{'item_id': '41', 'item_name': '(not set)', '...",deb5945fa29be45801049d34f1a52570,1656232201866953,41
5,"[{'item_id': '1', 'item_name': '(not set)', 'i...",97d43bb2c3af16aef2ca1c459a335b12,1656232022322898,1
7,"[{'item_id': '1', 'item_name': '(not set)', 'i...",97d43bb2c3af16aef2ca1c459a335b12,1656232122803900,1
8,"[{'item_id': '3', 'item_name': '(not set)', 'i...",97d43bb2c3af16aef2ca1c459a335b12,1656232124723901,3
...,...,...,...,...
149,"[{'item_id': '37', 'item_name': '(not set)', '...",deb5945fa29be45801049d34f1a52570,1656239445031608,37
150,"[{'item_id': '36', 'item_name': '(not set)', '...",deb5945fa29be45801049d34f1a52570,1656239446267609,36
151,"[{'item_id': '25', 'item_name': '(not set)', '...",deb5945fa29be45801049d34f1a52570,1656239449651610,25
152,"[{'item_id': '23', 'item_name': '(not set)', '...",deb5945fa29be45801049d34f1a52570,1656239450423611,23
153,"[{'item_id': '21', 'item_name': '(not set)', '...",deb5945fa29be45801049d34f1a52570,1656239451357612,21

We drop the 'items' column since we don't need anything else from it.

In [ ]:
analytics.rename(columns={'user_pseudo_id': 'user_id', 'event_timestamp': 'timestamp'}, inplace=True)
analytics.drop(['items'], axis=1, inplace=True)

Here is our processed dataframe containing only the data we want to use in training.

The data has the following properties:
*   UserIDs range between 1 and 6040
*   MovieIDs range between 1 and 3952
*   Timestamp is represented in seconds since the epoch as returned by time(2)
*   Each user has at least 20 ratings

In [ ]:
analytics

                              user_id         timestamp movie_id
0    deb5945fa29be45801049d34f1a52570  1656232199651952       32
1    deb5945fa29be45801049d34f1a52570  1656232201866953       41
5    97d43bb2c3af16aef2ca1c459a335b12  1656232022322898        1
7    97d43bb2c3af16aef2ca1c459a335b12  1656232122803900        1
8    97d43bb2c3af16aef2ca1c459a335b12  1656232124723901        3
..                                ...               ...      ...
149  deb5945fa29be45801049d34f1a52570  1656239445031608       37
150  deb5945fa29be45801049d34f1a52570  1656239446267609       36
151  deb5945fa29be45801049d34f1a52570  1656239449651610       25
152  deb5945fa29be45801049d34f1a52570  1656239450423611       23
153  deb5945fa29be45801049d34f1a52570  1656239451357612       21

[109 rows x 3 columns]

## Sort and group training data to create training examples

Our analytics events need to be reorganized in the format required for the model training step. We will create an object that maps key user_id to a list of movies that user has seen. We use the timestamp data to create the sequential context.

In [ ]:
import collections
def convert_to_timelines(df):
  """Convert ratings data to user."""
  timelines = collections.defaultdict(list)
  movie_counts = collections.Counter()
  for user_id, timestamp, movie_id in df.values:
    timelines[user_id].append([movie_id, int(timestamp)])
    movie_counts[movie_id] += 1
  # Sort per-user timeline by timestamp
  for (user_id, timeline) in timelines.items():
    timeline.sort(key=lambda x: x[1])
    timelines[user_id] = [movie_id for movie_id, _ in timeline]
  return timelines, movie_counts
timelines, counts = convert_to_timelines(analytics)

The timelines object contains a list of movie_id's keyed on user_id to indicate the sequence of movies that user has interacted with.

In [ ]:
import itertools

for key, val in sorted(timelines.items())[0:10]:
  print(key, val)

97d43bb2c3af16aef2ca1c459a335b12 ['1', '17', '2', '3', '1', '3', '17', '1', '2', '5', '4', '6', '10', '2', '1', '4', '13', '11', '10', '1', '2', '7', '1', '1', '3', '2', '1', '2', '3']
deb5945fa29be45801049d34f1a52570 ['1', '2', '4', '3', '1', '2', '7', '21', '1', '2', '14', '17', '3', '32', '41', '1', '2', '3', '11', '20', '21', '25', '38', '36', '32', '41', '1', '2', '3', '17', '21', '40', '41', '32', '20', '22', '23', '26', '36', '25', '24', '3', '2', '1', '6', '9', '11', '1', '2', '3', '11', '20', '23', '21', '17', '6', '26', '24', '22', '25', '41', '40', '36', '37', '32', '1', '2', '17', '3', '22', '20', '24', '26', '41', '40', '37', '36', '25', '23', '21']

## Generate training examples

We use the timelines data to generate tensorflow training examples. We discard any timeline with less than 3 context items, and we consider context lengths of 100 items. We perform the following steps:

* Groups movie records by user, and orders per-user movie records by timestamp.
* Generates Tensorflow examples with features: 1) "context": time-ordered sequential movie IDs 2) "label": next movie ID user viewed as label. "max_history_length" is taken in as parameter to define "context" feature shape, if not enough history found, right padding with out-of-vocab ID 0 will be performed.
* Then partition the available data into a training and test set.

Sample generated training example with max user history as 10:
```
0 : {   # (tensorflow.Example)
  features: {   # (tensorflow.Features)
    feature: {
      key  : "context"
      value: {
        int64_list: {
          value: [ 595, 2687, 745, 588, 1, 2355, 2294, 783, 1566, 1907 ]
        }
      }
    }
    feature: {
      key  : "label"
      value: {
        int64_list: {
          value: [ 48 ]
        }
      }
    }
  }
}
```

In [ ]:
import tensorflow as tf

# used to pad when user doesn't have enough context
OOV_MOVIE_ID = 0

def generate_examples_from_timelines(timelines,
                                     min_timeline_len=3,
                                     max_context_len=100):
  """Convert user timelines to tf examples.

  Convert user timelines to tf examples by adding all possible context-label
  pairs in the examples pool.

  Args:
    timelines: the user timelines to process.
    min_timeline_len: minimum length of the user timeline.
    max_context_len: maximum length of context signals.

  Returns:
    train_examples: tf example list for training.
    test_examples: tf example list for testing.
  """
  train_examples = []
  test_examples = []
  for timeline in timelines.values():
    # Skip if timeline is shorter than min_timeline_len.
    if len(timeline) < min_timeline_len:
      continue
    for label_idx in range(1, len(timeline)):
      start_idx = max(0, label_idx - max_context_len)
      context = timeline[start_idx:label_idx]
      context=list(map(int,context))
      # Pad context with out-of-vocab movie id 0.
      while len(context) < max_context_len:
        context.append(OOV_MOVIE_ID)
      label = timeline[label_idx]
      label=int(label)
      feature = {
          "context":
              tf.train.Feature(int64_list=tf.train.Int64List(value=context)),
          "label":
              tf.train.Feature(int64_list=tf.train.Int64List(value=[label]))
      }
      tf_example = tf.train.Example(features=tf.train.Features(feature=feature))
      if label_idx == len(timeline) - 1:
        test_examples.append(tf_example.SerializeToString())
      else:
        train_examples.append(tf_example.SerializeToString())
  return train_examples, test_examples

In [ ]:
train_examples, test_examples = generate_examples_from_timelines(timelines)

Write examples to tfrecords, to be loaded in the model training step.

In [ ]:
def write_tfrecords(tf_examples, filename):
  """Write tf examples to tfrecord file."""
  with tf.io.TFRecordWriter(filename) as file_writer:
    for example in tf_examples:
      file_writer.write(example)

output_dir = 'data/examples'
OUTPUT_TRAINING_DATA_FILENAME = "train_movielens_1m.tfrecord"
OUTPUT_TESTING_DATA_FILENAME = "test_movielens_1m.tfrecord"

if not tf.io.gfile.exists(output_dir):
  tf.io.gfile.makedirs(output_dir)
write_tfrecords(
    tf_examples=train_examples,
    filename=os.path.join(output_dir, OUTPUT_TRAINING_DATA_FILENAME))
write_tfrecords(
    tf_examples=test_examples,
    filename=os.path.join(output_dir, OUTPUT_TESTING_DATA_FILENAME))
print(len(train_examples))
print(len(test_examples))

105
2

# Train model

The training launcher script uses TensorFlow keras compile/fit APIs and performs
the following steps to kick start training and evaluation process:

*   Set up both train and eval dataset input function.
*   Construct keras model according to provided configs, please refer to sample.config file in the source code to config your model architecture, such as embedding dimension, convolutional neural network params, LSTM units etc.
*   Setup loss function. In this code base, we leverages customized batch softmax loss function.
*   Setup optimizer, with flag specified learning rate and gradient clip if needed.
*   Setup evaluation metrics, we provided recall@k metrics by default.
*   Compile model with loss function, optimizer and defined metrics.
*   Setup callbacks for tensorboard and checkpoint manager.
*   Run model.fit with compiled model, where you could specify number of epochs to train, number of train steps in each epoch and number of eval steps in each epoch.

## Model training parameters

### Encoder type

You can train the model using three different encoder types: a convolutional neural net (cnn), a recurrent neural net (rnn), or a bag of words (bow). You can select between the various types with the **--encoder_type** parameter supplying **cnn**, **rnn**, or **bow**. Different encoders have strengths and weakensses depending on the input / output characteristics of your dataset.

For example: If the input context (here, the user history length) is long, cnn and rnn would be more suitable as they have better summarization ability with longer user histories.

### Training time / size

Another consideration is training time. Rnn generally requires the longer training times, followed by cnn, and finally bow with the shortest training times. Bag of words will also be a smaller sized model if space is a consideration.

To start training, execute the following command. Please note that we are using a very small number of epochs (**num_epochs** parameter below) of 10 to speed up training time at the expense of model quality. Generating a high quality model often requires a much higher number. For this model, setting num_epochs to at least 100 should provide a model of sufficient quality.

In [ ]:
!git clone https://github.com/obid12/model-tokonex
%cd model-tokonex/
!python -m model.recommendation_model_launcher_keras\
 --run_mode "train_and_eval" \
 --encoder_type "cnn" \
 --training_data_filepattern "data/examples/train_movielens_1m.tfrecord" \
 --testing_data_filepattern "data/examples/test_movielens_1m.tfrecord" \
 --model_dir "model/model_dir" \
 --params_path "model/sample_config.json"\
 --batch_size 10 \
 --learning_rate 0.1 \
 --steps_per_epoch 100\
 --num_epochs   10\
 --num_eval_steps 1000 \
 --gradient_clip_norm 1.0 \
 --max_history_length 10

fatal: destination path 'model-tokonex' already exists and is not an empty directory.
/content/examples/lite/examples/recommendation/ml/model-tokonex
INFO:tensorflow:Setting up train and eval input_fns.
I0626 12:37:19.155707 140462519809920 app.py:258] Setting up train and eval input_fns.
INFO:tensorflow:Build keras model for mode: train_and_eval.
I0626 12:37:19.155936 140462519809920 app.py:258] Build keras model for mode: train_and_eval.
2022-06-26 12:37:19.870210: W tensorflow/core/common_runtime/gpu/gpu_bfc_allocator.cc:39] Overriding allow_growth setting because the TF_FORCE_GPU_ALLOW_GROWTH environment variable is set. Original config value was 0.
Epoch 1/10
100/100 [==============================] - 18s 59ms/step - loss: 255.9117 - accuracy: 0.0000e+00 - mean_squared_error: 255.9117 - mean_absolute_error: 11.6251 - val_loss: 2.1094 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 2.1094 - val_mean_absolute_error: 1.2325
Epoch 2/10
100/100 [==============================] - 4s 35ms/step - loss: 118.2766 - accuracy: 0.0000e+00 - mean_squared_error: 118.2766 - mean_absolute_error: 8.3347 - val_loss: 0.1712 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 0.1712 - val_mean_absolute_error: 0.3472
Epoch 3/10
100/100 [==============================] - 3s 35ms/step - loss: 96.7383 - accuracy: 0.0000e+00 - mean_squared_error: 96.7383 - mean_absolute_error: 7.3407 - val_loss: 85.4869 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 85.4869 - val_mean_absolute_error: 7.2856
Epoch 4/10
100/100 [==============================] - 6s 57ms/step - loss: 87.6150 - accuracy: 0.0000e+00 - mean_squared_error: 87.6150 - mean_absolute_error: 6.8939 - val_loss: 48.9954 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 48.9954 - val_mean_absolute_error: 5.8343
Epoch 5/10
100/100 [==============================] - 4s 35ms/step - loss: 54.3725 - accuracy: 0.0000e+00 - mean_squared_error: 54.3725 - mean_absolute_error: 5.3521 - val_loss: 3.9284 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 3.9284 - val_mean_absolute_error: 1.9598
Epoch 6/10
100/100 [==============================] - 3s 35ms/step - loss: 41.1105 - accuracy: 0.0020 - mean_squared_error: 41.1105 - mean_absolute_error: 4.6646 - val_loss: 24.8781 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 24.8781 - val_mean_absolute_error: 4.3203
Epoch 7/10
100/100 [==============================] - 6s 57ms/step - loss: 33.7972 - accuracy: 0.0000e+00 - mean_squared_error: 33.7972 - mean_absolute_error: 4.0350 - val_loss: 18.6939 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 18.6939 - val_mean_absolute_error: 3.7674
Epoch 8/10
100/100 [==============================] - 6s 57ms/step - loss: 27.8082 - accuracy: 0.0020 - mean_squared_error: 27.8082 - mean_absolute_error: 3.6866 - val_loss: 7.8458 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 7.8458 - val_mean_absolute_error: 2.5951
Epoch 9/10
100/100 [==============================] - 6s 57ms/step - loss: 21.1720 - accuracy: 0.0010 - mean_squared_error: 21.1720 - mean_absolute_error: 3.2310 - val_loss: 18.7218 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 18.7218 - val_mean_absolute_error: 3.7320
Epoch 10/10
100/100 [==============================] - 4s 36ms/step - loss: 16.2760 - accuracy: 0.0000e+00 - mean_squared_error: 16.2760 - mean_absolute_error: 2.8235 - val_loss: 2.1960 - val_accuracy: 0.0000e+00 - val_mean_squared_error: 2.1960 - val_mean_absolute_error: 1.3928
INFO:tensorflow:<keras.callbacks.History object at 0x7fbef45c7210>
I0626 12:38:43.206832 140462519809920 app.py:258] <keras.callbacks.History object at 0x7fbef45c7210>

# Export model

Now we export the trained model to a tflite file suitable for on-device inference on mobile devices.
Note that here we use the latest checkpoint, number 10000 in the **checkpoint_path**. This results from num_epochs (10) x steps_per_epoch (1000). If you change either parameter in the previous training step, you should update this parameter to accordingly export the latest checkpoint.

In [ ]:
%cd model-tokonex/
!python -m model.recommendation_model_launcher_keras \
  --run_mode "export" \
  --encoder_type "cnn" \
  --params_path "model/sample_config.json"\
  --model_dir "model/model_dir" \
  --checkpoint_path "model/model_dir/ckpt-1000" \
  --num_predictions 10

/content/examples/lite/examples/recommendation/ml/model-tokonex/model-tokonex/model-tokonex/model-tokonex
INFO:tensorflow:Setting up train and eval input_fns.
I0626 13:10:27.015886 140143444285312 app.py:258] Setting up train and eval input_fns.
INFO:tensorflow:Build keras model for mode: export.
I0626 13:10:27.016152 140143444285312 app.py:258] Build keras model for mode: export.
2022-06-26 13:10:27.753350: W tensorflow/core/common_runtime/gpu/gpu_bfc_allocator.cc:39] Overriding allow_growth setting because the TF_FORCE_GPU_ALLOW_GROWTH environment variable is set. Original config value was 0.
INFO:tensorflow:Exporting model to dir: model/model_dir/export
I0626 13:10:27.878624 140143444285312 app.py:258] Exporting model to dir: model/model_dir/export
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/training/py_checkpoint_reader.py", line 92, in NewCheckpointReader
    return CheckpointReader(compat.as_bytes(filepattern))
RuntimeError: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for model/model_dir/ckpt-1000

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/training/tracking/util.py", line 2380, in restore
    status = self.read(save_path, options=options)
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/training/tracking/util.py", line 2260, in read
    result = self._saver.restore(save_path=save_path, options=options)
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/training/tracking/util.py", line 1344, in restore
    reader = py_checkpoint_reader.NewCheckpointReader(save_path)
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/training/py_checkpoint_reader.py", line 96, in NewCheckpointReader
    error_translator(e)
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/training/py_checkpoint_reader.py", line 31, in error_translator
    raise errors_impl.NotFoundError(None, None, error_message)
tensorflow.python.framework.errors_impl.NotFoundError: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for model/model_dir/ckpt-1000

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/content/examples/lite/examples/recommendation/ml/model-tokonex/model-tokonex/model-tokonex/model-tokonex/model/recommendation_model_launcher_keras.py", line 284, in <module>
    app.run(main)
  File "/usr/local/lib/python3.7/dist-packages/absl/app.py", line 312, in run
    _run_main(main, args)
  File "/usr/local/lib/python3.7/dist-packages/absl/app.py", line 258, in _run_main
    sys.exit(main(argv))
  File "/content/examples/lite/examples/recommendation/ml/model-tokonex/model-tokonex/model-tokonex/model-tokonex/model/recommendation_model_launcher_keras.py", line 277, in main
    max_history_length=FLAGS.max_history_length)
  File "/content/examples/lite/examples/recommendation/ml/model-tokonex/model-tokonex/model-tokonex/model-tokonex/model/recommendation_model_launcher_keras.py", line 217, in export
    checkpoint.restore(checkpoint_path).run_restore_ops()
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/training/tracking/util.py", line 2386, in restore
    f"Error when restoring from checkpoint or SavedModel at "
tensorflow.python.framework.errors_impl.NotFoundError: Error when restoring from checkpoint or SavedModel at model/model_dir/ckpt-1000: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for model/model_dir/ckpt-1000
Please double-check that the path is correct. You may be missing the checkpoint suffix (e.g. the '-1' in 'path/to/ckpt-1').

# Model inference (Optional)

You could verify your model's performance by running inference with test examples.

In [ ]:
import tensorflow as tf
import os
import json

# Use [0, 1, ... 9] as example input to represent 10 movies that user interacted with.
#context = [1196, 1210, 2628]
# context = tf.range(10)
context = tf.constant([1196, 1210, 2628, 260, 480, 2571, 589, 1240, 1, 10])

# Directory to exported TensorFlow Lite model.
export_dir = "model/model_dir/export"
tflite_model_path = os.path.join(export_dir, 'model.tflite')
f = open(tflite_model_path, 'rb')
interpreter = tf.lite.Interpreter(model_content=f.read())
interpreter.allocate_tensors()
input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()
print(input_details)
print(output_details)

interpreter.set_tensor(input_details[0]['index'], context)
interpreter.invoke()
tflite_top_predictions_ids = interpreter.get_tensor(
    output_details[0]['index'])
tflite_top_prediction_scores = interpreter.get_tensor(
    output_details[1]['index'])
print("results >>>>>")
print("input >>>>>")
print(input_details[0])
print("output >>>>>")
print(tflite_top_predictions_ids)

# Deploy model to the Firebase Console

We now deploy the model to the Firebase Console. From there, it can be automatically downloaded to your user's devices with Firebase ML.

Step 1. Initialize Firebase App Instance

In [ ]:
import firebase_admin

firebase_admin.initialize_app(options={'projectId': projectID, 
             'storageBucket': projectID + '.appspot.com' })

Step 2. Upload the model file to Cloud Storage

In [ ]:
from firebase_admin import ml

# This uploads it to your bucket as recommendation.tflite
source = ml.TFLiteGCSModelSource.from_saved_model(export_dir, 'model.tflite')
print (source.gcs_tflite_uri)

Step 3. Deploy the model to Firebase

In [ ]:
# Create a Model Format
model_format = ml.TFLiteFormat(model_source=source)

# Create a Model object
sdk_model_1 = ml.Model(display_name="recommendations", model_format=model_format)

# Make the Create API call to create the model in Firebase
firebase_model_1 = ml.create_model(sdk_model_1)
print(firebase_model_1.as_dict())

# Publish the model
model_id = firebase_model_1.model_id
firebase_model_1 = ml.publish_model(model_id)

# Return to the Firebase Console
At this point, we have deployed the trained model to the Firebase console. You can go to Develop > Machine Learning > Custom to check it out!

Note that for the purposes of this codelab, in order to have a quick training time, we intentionally chose suboptimal training parameters (as described in the model training step above) that sacrifice model quality. To get better results, please use the pre-trained model included in the Github code repo [here](https://github.com/FirebaseExtended/codelab-contentrecommendation-android/blob/master/recommendation_cnn_i10o100.tflite).
To replace the model we just published:
1. In the Firebase console, go to Develop > Machine Learning > Custom
1. Select the settings dropdown under the model named "recommendations"
1. Choose "Replace model" and upload the model file from the Github repo.

Finally, please return to the [codelab](https://codelabs.developers.google.com/codelabs/contentrecommendation-android) and complete the last steps to see the app in action!